

html {
    font-size: 16px;
}

@media (min-width: 700px) {
    html {
        font-size: 16px;
    }
}

    


@media only screen and (max-width: 455px) {

    :root {
        font-size: 10px;
    }
    
    *{
        margin: 0;
        font-family: Arial;
        border: border-box;
    }
    .navbar {
        /*height: 20px;*/
        background-color: #131a22;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .nav-logo {
        
        width: 50px;
        
    }
    .logo {
        background-image: url('Logos/Booklab_logo_s.png');
        height: 40px;
        width: 100%;
        
    }
    .border {
        border: 1.5px solid transparent;
        border-radius: 3px;
    }
    .border:hover {
        border: 2px solid white;
    }
    
    /**box-2**/
    
    .ad-1st {
        color: #cccccc;
        font-size: 0.50rem;
        margin-left: 5px;
    }
    .ad-2nd{
        color: white;
        font-size: .60rem;
        font-weight: bold;
        margin-left: 3px;
    }
    .add-icon{
        display: flex;
        align-items: center;
        font-size: 10px;
    }
    
    /**box-3**/
    
    .nav-search{
        display: flex;
        justify-content: space-evenly;
        background-color: #febd68;
        width: 80px;
        height: 20px;
        border-radius: 3px;
    }
    .nav-search:hover {
        border: 2px solid orange;
    }
    .search-select {
        background-color: #f3f3f3;
        width: 35px;
        text-align: center;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border: none;
        font-size: .70rem;
    }
    .search-select:hover {
        background-color: rgba(0, 0, 0, 0.10);
    }
    .search-input {
        width: 100%;
        font-size: 1rem;
        border: none;
    }
    .search-icon {
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        color: #0F1111;
    }
    
    /** box-4 **/
    
    span{
        font-size: 0.7rem;
    }
    .nav-second{
        font-size: 0.60rem;
        font-weight: 700;
        
    }
    
    /**box-6**/
    
    .nav-lang i {
        font-size: 15px;
    }
    .nav-lang {
        font-size: 0.65rem;
        font-weight: bold; 
    }
    
    /**box-7**/
    
    .nav-cart i {
        font-size: 15px;
    }
    .nav-cart {
        font-size: 0.65rem;
        font-weight: bold;
    }
    
    /**panel**/
    
    .panel {
        height: 40px;
        background-color: #222F3E;
        display: flex;
        color: white;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .panel-all {
        color: white;
        font-size: .70rem;
        font-weight: 700;
    }
    .panel-ops p{
        display: inline;
        margin-left: 15px;
        color: white;   
    }
    .panel-deals p{
        color: white;
    }
    .panel-ops {
        width: 70%;
        font-size: 0.60rem;
    }
    .panel-deals {
        font-size: 0.70rem;
        font-weight: 700;
    }
    
    /**hero-section**/
    
    .hero-section {
        background-image: url('source-images/hero_image.jpg');
        background-size: cover;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    .hero-msg {
        background-color: white;
        color: #0F1111;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.70rem;
        width: 80%;
        margin-bottom: 25px;
    }
    
    .hero-msg a{
        color: #007175;
    }
    
    /**shop section**/
    .shop-sec {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: #e2e7e6;
    }
    .box {
        /*border: 2px solid black;*/
        height: 390px;
        width: 100%;
        background-color: white;
        padding: 20px 0px 15px;
        margin-top: 15px;
    }
    .box-img {
        height: 295px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .box-content {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .box-content p {
        color: #007175;
        
    }
    
    /**footer**/
    footer {
        margin-top: 15px;
    }
    .foot_panel1 {
        background-color: #37475a;
        /*height: 50px;*/
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.85rem;
    
    }
    .foot-panel2 {
        background-color: #222F3E;
        color: white;
        /*height: 250px;*/
        display: flex;
        justify-content: space-evenly;
    }
    
    ul {
        margin-top: 10px;
        padding: 8px;
    }
    
    ul a{
        display: block;
        font-size: 0.65rem;
        
        margin-top: 10px;
        color: #dddddd;
    }
    .foot-panel3 {
        background-color: #222F3E;
        color: white;
        border-top: 0.5px solid white;
        /*height: 70px;*/
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo_f {
        background-image: url("Logos/Booklab_logo_nw.png");
        background-size: cover;
        height: 50px;
        width: 100px;
    
    }
    .foot-panel4 {
        background-color: #131a22;
        color: white;
        height: 100px;
        border-top: 0.5px solid white;
        font-size: 0.7rem;
        text-align: center;
       /* display: flex;
        justify-content: center;
        align-items: center; */
    }
    .pages {
        padding-top: 25px;
    }
    
    .copyright {
        padding-top: 5px;  
    }

}